# Use root/example as user/password credentials
version: '3.1'

services:
  app:
    build:
      context: .
    volumes:
      - .:/work
    working_dir: /work
    command: spec
  ci:
    build:
      context: .
      dockerfile: Dockerfile.ci
    volumes:
      - .:/airbyte-source
    working_dir: /airbyte-source

  db:
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
    ports:
      - "3306:3306"

  licensing:
    build:
      context: containers/licensing
    volumes:
      - .:/work
    working_dir: /work
